/* Keyframes */

@keyframes blink-critical {
	to {
		background-color: @critical;
	}
}


/* Styles */

/* Colors (gruvbox) */
@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color bg2	#504945;


@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color unfocused	@bg2;
@define-color focused	@purple;
@define-color tray	@focused
@define-color time	@white;
@define-color date	@black;
@define-color memory	@braqua;
@define-color mpris	@brblue;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  -gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
  background: rgba(40, 40, 40, 0.8784313725); /* #282828e0 */
  color: @white;
  font-family: JetBrainsMonoNerdFontPropo, "Font Awesome 6 Free";
  font-size: 11pt;
  /*font-weight: bold;*/
}

/* Each module */
#clock,
#memory,
#tray,
#user,
#mpris {
  padding-left: 8pt;
  padding-right: 8pt;
}

/* Each critical module */
#memory.critical {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical;
  animation-duration: 1s;
}

/* Each warning */
#memory.warning {
  color: @warning;
}

/* And now modules themselves in their respective order */

/* Workspaces stuff */
#workspaces button {
  padding-left: 2pt;
  padding-right: 2pt;
  color: @white;
  background: @unfocused;
}

/* Active (on focused output) */
#workspaces button.visible {
  color: @white;
  background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
  color: @black;
  background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
  background: @black;
  color: @white;
}

#window {
  margin-right: 35pt;
  margin-left: 35pt;
}


/* Modules */
#tray {
  background: @tray;
  color: @white;
}

#clock.time {
  background: @time;
  color: @black;
}

#clock.date {
  background: @date;
  color: @white;
}

#memory {
  background: @memory;
  color: @black;
}

#mpris {
  background: @mpris;
  color: @black;
}


/* Arrows */
#custom-arrow {
  font-size: 11pt;
}

#custom-arrow.right {
  color: @unfocused;
  background: transparent;
}

#custom-arrow.tray {
  color: @tray;
  background: @time;
}

#custom-arrow.time {
  color: @time;
  background: @date;
}

#custom-arrow.date {
  color: @date;
  background: @memory;
}

#custom-arrow.memory {
  color: @memory;
  background: @mpris;
}

#custom-arrow.mpris {
  color: @mpris;
  background: @transparent;
}
